<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">description</th>
  
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let consultant of consultants; let i = index">
            <td>{{ consultant.nom | uppercase}}</td>
            <td>{{ consultant.prenom | uppercase}}</td>
  
            <td>{{ consultant.description }}</td>
          </tr>
    </tbody>
  </table>
</div>