<div class="container">

    <button class="btn btn-success" (click)="showForm()">Ajouter une startup</button> 
    <hr>

  <div *ngIf="isHidden">
    <h1>Sing up</h1>
  <form  id="startupForm" (ngSubmit)="register()" [formGroup]="startupForm" >
    <div>
      <label>Nom</label>
      <input formControlName="nom" ngModel>
      <div style="color: yellow; font-weight: bold" *ngIf="nomCtrl.dirty && nomCtrl.hasError('required')">Nom est vide</div>
      <div style="color: yellow; font-weight: bold" *ngIf="nomCtrl.errors?.maxlength"> Moins de 20 caracteres</div>

    </div>

    <div>
        <label>Secteur d'activite</label>
        <input formControlName="secteurActivite" ngModel>
        <div style="color: yellow; font-weight: bold" *ngIf="secteurActiviteCtrl.dirty && secteurActiviteCtrl.hasError('required')">Prénom est
          vide</div>
          <div style="color: yellow; font-weight: bold" *ngIf="secteurActiviteCtrl.errors?.maxlength"> Moins de 10 caracteres</div>

    </div>

    <div>
        <label>representant Legal</label>
        <input formControlName="representantLegal" ngModel>
        <div style="color: yellow; font-weight: bold" *ngIf="representantLegalCtrl.dirty && representantLegalCtrl.hasError('required')">Prénom est
          vide</div>
          <div style="color: yellow; font-weight: bold" *ngIf="representantLegalCtrl.errors?.maxlength"> Moins de 15 caracteres</div>

    </div>

    <div>      
      <label>nombre Co Fondateur</label>
      <input type="number" min="0" max="150" formControlName="nombreCoFondateur" ngModel>
      <div style="color: yellow; font-weight: bold" *ngIf="nombreCoFondateurCtrl.dirty && nombreCoFondateurCtrl.hasError('required')">Âge est vide</div>
    </div>

  
    <div>
        <label>Description</label>
        <textarea formControlName="describe" ngModel></textarea>
        <div style="color: yellow; font-weight: bold" *ngIf="describeCtrl.dirty && describeCtrl.hasError('required')">Prénom est
          vide</div>
          <div style="color: yellow; font-weight: bold" *ngIf="describeCtrl.errors?.maxlength"> Moins de 250 caracteres</div>

    </div>

      
    <div>
        <label>adresse (optional)</label>
        <input formControlName="adress" ngModel>
        <div style="color: yellow; font-weight: bold" *ngIf="adressCtrl.dirty && adressCtrl.hasError('required')">adress est vide</div>
        <div style="color: yellow; font-weight: bold" *ngIf="adressCtrl.errors?.maxlength"> Moins de 25 caracteres</div>

    </div>
      <button type="submit" [disabled]="startupForm.invalid">Register</button>
  </form>
</div>  
  <hr>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Répresentant</th>
      <th scope="col">Nb confondateur</th>
      <th scope="col">Description</th>
      <th scope="col">Adresse</th>
      <th scope="col" >action</th>

    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let startup of startups; let i = index">
          <td>{{ startup.nom | uppercase}}</td>
          <td>{{ startup.representantLegal | uppercase}}</td>
          <td>
              <span *ngIf="startup.nombreCoFondateur == 1">unique</span>
              <span *ngIf="startup.nombreCoFondateur == 2">couple</span>
              <span *ngIf="startup.nombreCoFondateur >= 3 ">groupes</span>

  
          </td>
          <td>{{ startup.describe }}</td>
          <td>
            <span *ngIf="startup.adresse">Oui</span>
            <span *ngIf="!startup.adresse">non</span>

          </td>

          <td>        
              <!-- <a href="" [routerLink]="['/eleve', eleve.id]">Details</a> 
              <a href="" [routerLink]="['/card', eleve.id]">card</a> -->  
              <button class="btn btn-warning" (click)="edit(startup.id)">modifier</button> -  
              <button class="btn btn-danger" (click)="delete(startup.id)">supprimer</button>  
  
            </td>
        </tr>
  </tbody>
</table>
</div>