<div class="container">
        <div class="row">
    <div class="col-lg-4"   style="margin-top:10px"  *ngFor="let startup of startups; let i = index">

        <div class="card" style="width: 18rem;"   *ngIf="i<3">
            <div class="card-body">
            <h5 class="card-title"> {{ startup.nom }} </h5>
            <p class="card-text">{{ startup.describe }} </p>
            <a [routerLink]="['/startups']" rel="noopener"  class="btn btn-primary">Voir les startups</a>
            </div>
        </div>
    </div>
    </div>

    <hr>
    <div class="row">
    <div class="col-lg-4" style="margin-top:10px"  *ngFor="let consultant of consultants; let i = index">
        <div class="card" style="width: 18rem;" *ngIf="i<3" >
            <div class="card-body">
            <h5 class="card-title"> {{ consultant.nom }} </h5>
            <p class="card-text">{{ consultant.description }} </p>
            <a [routerLink]="['/consultants']" rel="noopener" class="btn btn-primary">Voir les consultnants</a>
            </div>
        </div>
    </div>
    </div>

</div>